

<!-- sidenavBar -->
<app-toolbar></app-toolbar>
<div class="bodyWrapper">

<div class="sidebar">
  <ul>
    <li><mat-icon>waves</mat-icon></li>
    <li>Symbols</li>
    <li><mat-icon>waves</mat-icon></li>
    <li>Ports</li>
    <li><mat-icon>waves</mat-icon></li>
    <li>FPT</li>
    <li (mouseover)="changeText()"><mat-icon> layers</mat-icon></li>
    <li>Layers</li>

  </ul>
  
 
</div>


<div *ngIf="value" class="bg-box-hidden" (mouseover)="retainDiv()">
  <div class="labelWrappper">
    <h2>Layers</h2>
    <hr />
    <div>
      <div class="elementWrapper">
        <div>0</div>
        <div class="whitecolor"></div>
      </div>
      <div class="elementWrapper">
        <div>ISO_LIN_ASS</div>
        <div class="purplecolor"></div>
      </div>
      <div class="elementWrapper">
        <div>ISO_LIN_CON</div>
        <div class="orangecolor"></div>
      </div>
      <div class="elementWrapper">
        <div>ISO_LIN_DRA</div>
        <div class="bluecolor"></div>
      </div>
    </div>
  </div>
</div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

